.course-searchbar {
    border: 1px solid #ddd;
    border-bottom: 0px;
}

.course-list-container {
    border: 1px solid #ddd;
    height: 575px;
    overflow: scroll;
}

.course-search-input {
    margin-top: 15px;
    margin-bottom: 15px;
}

.course-list-item {
    width: 100%;
    display: inline-block;
    margin-bottom: -5px;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.course-header {
    cursor: pointer;
}

.course-code {
    color: rgba(40, 96, 144, 0.91);
    font-weight: bold;
}

.course-title {
    color: rgba(40, 96, 144, 0.73);
}

.course-details {
    display: none;
}

.course-description {
    margin-top: 10px;
    font-size: 11px;
    color: #777;
}

.load-more {
    text-align: center;
    color: rgba(40, 96, 144, 0.92);
    background-color: rgba(40, 96, 144, 0.1);
    font-size: 12px;
    padding: 7px;
    cursor: pointer;
}
