{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}SchedUWle{% endblock %}</title>
	<!-- include some css stuff here -->
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.6-dist/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'scheduler/css/nav.css' %}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="{% static 'underscore/underscore.js' %}"></script>
	<script src="{% static 'backbone/backbone.js' %}"></script>
	{% block head %}
	{% endblock %}
    </head>

    <body>
	<nav class="navbar navbar-default">
	    <div class="container-fluid">
		<div class="navbar-header">
		    <a class="navbar-brand scheduwle-brand" href="#">SchedUWle</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-links">
		    <ul class="nav navbar-nav">
			{% if user.is_authenticated %}
			<li><a href="/scheduler/course_list">Course List</a></li>
			<li><a href="/scheduler/">Timetable</a></li>
			<li><a id="logout" href="/logout">Logout</a></li>
			{% else %}
			<li><a id="login" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a></li>
			{% endif %}
		    </ul>
		</div>
	    </div>
	</nav>
	<div class="container-fluid">
	    {% block content %}
	    {% endblock %}
	</div>
    </body>
</html>
