<script type="text/template" id="course-template">
    <div class="course-list-item">
	<div class="course-header">
	    <div class="course-code col-sm-3"><%- subject %><%- catalog_number %></div>
	    <div class="course-title col-sm-9"><%- title %></div>
	</div>
	<div class="course-details"></div>
    </div>
</script>

<script type="text/template" id="detailed-course-template">
    <div class="course-description col-sm-12"><%- description %></div>
    <% _.each(schedule, function(s, k) { %>
	<div class="col-sm-12">
	    <button class="btn btn-default btn-xs pull-right add-course" data-index=<%- k %>>
		<span class="glyphicon glyphicon-plus"></span>
	    </button>
	    <table class="table table-bordered table-condensed">
		<thead>
		    <tr>
			<td>Section</td>
			<td>Class</td>
			<td>Time</td>
			<td>Location</td>
		    </tr>
		</thead>
		<tbody>
		    <% if (s["lec"]) { %>
			<tr>
			    <td><%- s["lec"]["section"] %></td>
			    <td><%- s["lec"]["class_number"] %></td>
			    <td>
				<% _.each(s["lec"]["classes"], function(c) { %>
				    <p><%- c["date"]["start_time"] %> - <%- c["date"]["end_time"] %> <%- c["date"]["weekdays"] %></p>
				<% }); %>
			    </td>
			    <td>
				<% _.each(s["lec"]["classes"], function(c) { %>
				    <p><%- c["location"]["building"] %><%- c["location"]["room"] %></p>
				<% }); %>
			    </td>
			</tr>
		    <% } %>
		    <% if (s["tut"]) { %>
			<tr>
			    <td><%- s["tut"]["section"] %></td>
			    <td><%- s["tut"]["class_number"] %></td>
			    <td>
				<% _.each(s["tut"]["classes"], function(c) { %>
				    <p><%- c["date"]["start_time"] %> - <%- c["date"]["end_time"] %> <%- c["date"]["weekdays"] %></p>
				<% }); %>
			    </td>
			    <td>
				<% _.each(s["tut"]["classes"], function(c) { %>
				    <p><%- c["location"]["building"] %><%- c["location"]["room"] %></p>
				<% }); %>
			    </td>
			</tr>
		    <% } %>
		    <% if (s["test"]) { %>
			<tr>
			    <td><%- s["test"]["section"] %></td>
			    <td><%- s["test"]["class_number"] %></td>
			    <td>
				<% _.each(s["test"]["classes"], function(c) { %>
				    <p><%- c["date"]["start_time"] %> - <%- c["date"]["end_time"] %> <%- c["date"]["weekdays"] %></p>
				<% }); %>
			    </td>
			    <td>
				<% _.each(s["test"]["classes"], function(c) { %>
				    <p><%- c["location"]["building"] %><%- c["location"]["room"] %></p>
				<% }); %>
			    </td>
			</tr>
		    <% } %>
		</tbody>
	    </table>
	</div>
    <% }); %>
</script>

<script type="text/template" id="load-more-button">
    <div class="load-more">Load More...</div>
</script>


